html {
  box-sizing: border-box;
}
*,
*::after,
::before {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 80px;
  background-color: cadetblue;
}

// header part
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_logo {
    text-decoration: none;
    font-size: 24px;
    color: crimson;
    font-family: sans-serif;
    font-weight: 700;
  }
  &_nav {
    display: flex;
    margin-left: auto;
  }
}
.nav {
  list-style: none;
  &_item {
    margin: 0 10px;
    display: flex;
  }
  &_link {
    text-decoration: none;
    color: rgb(24, 20, 20);
    font-size: 16px;
    font-family: sans-serif;
  }
}
